---
layout: default
cards:
 - heading: Heading 1
   text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eius cumque molestias, quos nam perspiciatis deleniti fugit nihil quas vitae. Amet, voluptatum! Saepe, vero accusantium omnis ab eum dolorum quo.
   featured_image: /images/the-sleep-co-cat.jpg
 - heading: Heading 2
   text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eius cumque molestias, quos nam perspiciatis deleniti fugit nihil quas vitae. Amet, voluptatum! Saepe, vero accusantium omnis ab eum dolorum quo.
   featured_image: /images/the-sleep-co-sleeping-pug.jpg
 - heading: Heading 3
   text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eius cumque molestias, quos nam perspiciatis deleniti fugit nihil quas vitae. Amet, voluptatum! Saepe, vero accusantium omnis ab eum dolorum quo.
   featured_image: /images/the-sleep-co-customer.jpg
---
    

    <!--------------- This is the header with a big background image ---------->
    
    <header class="grid height-100">
        
        {% include header-nav.html %}

        <div class="grid col-12-top center-content">
            <h2 class="col-12-middle big-font-size align-center"> <span class="highlight-word">This</span> is who we are </h2>
            <h1 class="col-12-middle small-font-size align-center"> Get to know us </h1>
        </div>
    </header>


    <!------------- Section with three cards ---------------------------->

    <section class="grid-spaceBetween height-90 padded align-center">

        {% for item in page.cards %}
        <div class="col-3 test-border no-padding">
            <div class="bg-pug height-50" style="background-image: url('{{item.featured_image}}')">
                <!--- Image will be inserted by utiliy class ---->
            </div>
            <div>
                <h3> {{item.heading}} </h3>
                <p class="padded"> {{item.text}} </p>
            </div>
        </div>
        {% endfor %}

    </section>


    <!------------- Quote Section --------------------->

    <section class="grid-middle height-50 background-yellow align-center">      
        <div class="col-1">
            <span class="quote">“</span>
        </div>
        <div class="col-10 small-font-size">
            <p class="center"> Never have I ever been happier with a purchase! Do yourself a favour and buy a Sleep Co Mattress!
                <br> <span>- A very happy customer </span> </p>
        </div>
        <div class="col-1">
            <span class="quote">”</span>
        </div>
    </section>  


    <!----------- Another Section with a later inserted video--- -->

    <section class="grid-middle align-left editable">
       <div class="col-6 height-60 bg-pug">
            <!-- background image will be inserted / sleeping pug-->
       </div>
       <div class="col-6 padded height-60 editable">
            <h3> A place to <span class="highlight-word">dream</span></h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum modi commodi unde sequi eligendi aut quasi fugit, doloribus incidunt autem enim hic quis odit esse, quam ad quos ab culpa? Ab tempore illo veniam alias? Sed natus cum dolores, ducimus eius voluptate ex vel accusamus temporibus beatae rem earum tenetur porro pariatur.</p>
       </div>
    </section>


    