---
layout: default
popup-gallery: true
gallery-background: background-dark
gallery:
 - col-size: col-4_sm-12
   aspect-ratio: square
   background_image: /images/the-sleep-co-cat.jpg
   type: animal
 - col-size: col-4_sm-12
   aspect-ratio: square
   background_image: /images/the-sleep-co-customer.jpg
   type: human
 - col-size: col-4_sm-12
   aspect-ratio: square
   background_image: /images/the-sleep-co-sleeping-pug.jpg
   type: animal
 - col-size: col-12
   aspect-ratio: landscape
   background_image: /images/the-sleep-co-yellow.jpg   
   type: interior
---

<!--------------- This is the header with a big background image ---------->
<header class="grid height-100 sm-tall-50">

    {% include header-nav.html %}
    
    <div class="grid col-12-top center-content">
        <h2 class="col-12-middle big-font-size sm-fontsize-2 sm-padded-t-0 align-center"> <span class="highlight-word">Explore</span> our gallery </h2>
        <h3 class="col-12-middle small-font-size sm-fontsize-1 sm-padded-b-0 align-center"> take a look </h1>
    </div>
</header>


{% if page.popup-gallery == true %}

<!----- Gallery Section with Button / Popup ------>

<section class="padded {{page.gallery-background}}">
  <h2 class="padded normal-font-size padded-top-sm">Popup Gallery</h2>
  <div class="gallery grid" id="lightgallery-2">
      {% for item in page.gallery %}
      {% if item.type == 'animal' or item.type == 'human'%}
      <a class="{{item.col-size}} gallery-item" href="{{item.background_image}}">
          <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}')"></div>
      </a>
      {% endif %}
      {% endfor %}
  </div>
</section>
  
{% else %}

<!----- Gallery section ----------->
<section class="padded {{page.gallery-background}}">
 <h2 class="padded normal-font-size padded-top-sm">Standard Gallery</h2>
    <div class="gallery grid" id="lightgallery">
    {% for item in page.gallery %}
       <a class="{{item.col-size}} gallery-item" href="{{item.background_image}}">
          <div class="bg-image {{item.aspect-ratio}}" 
          style="background-image: url('{{item.background_image}}');">
          </div>
      </a> 

  {% endfor %}
    </div>
</section>

{% endif%}


{% include testimonial.html %}



