---
layout: default
featured:
- icon: fas fa-concierge-bell
  description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse id cumque porro ad nihil, dolorum iure praesentium harum, modi tempore, dolores aliquam! Cumque aliquid porro quidem id labore modi nemo!
- icon: fas fa-concierge-bell
  description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse id cumque porro ad nihil, dolorum iure praesentium harum, modi tempore, dolores aliquam! Cumque aliquid porro quidem id labore modi nemo!
- icon: fas fa-concierge-bell
  description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse id cumque porro ad nihil, dolorum iure praesentium harum, modi tempore, dolores aliquam! Cumque aliquid porro quidem id labore modi nemo!
---
    
   
    <!--------------- This is the header with a big background image ---------->

    <header class="grid height-100">
        
        {% include header-nav.html%}
        <div class="grid col-12-top center-content">
            <h2 class="col-12-middle big-font-size "> Meet our <span class="highlight-word">Bestsellers</span></h2>
            <h1 class="col-12-middle small-font-size "> Our high quality products </h1>
        </div>

    </header>


    <!--------------- Section below header/banner---------->

    <section class="grid-middle align-left editable">
        <div class="col-12-middle height-40 editable align-center padded">
            <h3> A place to <span class="highlight-word">dream</span></h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum modi commodi unde sequi eligendi aut quasi fugit, doloribus incidunt autem enim hic quis odit esse, quam ad quos ab culpa? Ab tempore illo veniam alias? Sed natus cum dolores, ducimus eius voluptate ex vel accusamus temporibus beatae rem earum tenetur porro pariatur.</p>
       </div>
        <div class="col-3-middle height-60">
            <div class="bg-cat square padded center margin-left"></div>
             <!-- background image will be inserted / sleeping pug-->
        </div>
        <div class="col-6-middle height-60 editable align-center">
             <h5 class="small-font-size font-weight-bold"> Placeholder Heading </h5>
             <p class="xsmall-font-size padded"> Lorem ipsum dolor sit amet consectetur,quam ad quos ab culpa? Ascimus eius voluptate ex vel accusamus temporibus beatae rem earum tenetur porro pariatur.</p>
        </div>
        <div class="col-3-middle height-60">
            <div class="bg-cat square padded center margin-right"></div>
             <!-- background image will be inserted / sleeping pug-->
        </div>
     </section>


     <!--------------- Feature Section with Cloud icons --------------->

    <section class="background-dark grid-middle">
        <div class="col-12 padded-small"> 
            <h3 class="padded-top"> 
                Our <span class="highlight-word">service</span> promises
            </h3>
        </div>

    {% for item in page.featured %}

        <div class="col-4 padded"> 
            <i class="{{item.icon}}"> </i> 
            <p> {{item.description}} </p> 
        </div>

    {% endfor %}

    </section>   

    <!------------ Banner with image -------------------------->

    <section class="grid-middle bg-customer height-60">  
        <div class="col-12">    
            <h2> <span class="small-font-size">We are happy to<br></span> advise you
            </h2>
        </div> 
    </section>

