
/* -----------The Sleep Co Colors + Fonts ----------------- 

    yellow: #FFBE00
    navy: #192B37

    Google Font Catamaran (200,400,600,800)
    
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ----------- Some general classes ---------------------*/


.padded { padding: 5
    %;}
.padded-small { padding: 2%;}

.background-dark { 
    background-color: #000033;
    color: white;
}

.bg-images {
    background-image: url("/images/the-sleep-co-lamp.jpg")
}

/* ------- General settings---------- */

body {
    font-family: Catamaran, sans-serif;
    border: none;
    text-align: center;
}

section{
    border: 1px solid black;
}


/*---------------- Classes ------------------*/

.height-100     { min-height: 100vh;    }
.height-80      { min-height: 80vh;     }
.height-50      { min-height: 50vh;     }


.big-font-size             { font-size: 5rem;     }
.medium-font-size          {font-size: 2rem;      }

.highlight-word            { color: #FFBE00;    }

/* -------------- Header Styling ------------*/

header{
    background-image: url('/images/the-sleep-co-white-sheets.jpg');
    background-position: center;
    background-size: cover;
    line-height: 1;
}

header h2{
    margin-bottom: 0;
    padding: 25vh 5%;
    line-height: 1;
}

header h1{
    font-weight: 400;
    margin: 0;
    padding: 25vh 5%;
}