
/* -----------The Sleep Co Colors + Fonts ----------------- 

    yellow: #FFBE00
    navy: #192B37

    Google Font Catamaran (200,400,600,800)
    
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ----------- Some general classes ---------------------*/


.padded         { padding: 5%;}
.padded-small   { padding: 2%;}
.no-padding     { padding: 5% 0;}


.background-dark { 
    background-color: #192B37;
    color: white;
}


/*------------Background Images ----------*/

.bg-pug     { 
                background-image: url('/images/the-sleep-co-sleeping-pug.jpg');
                background-position: 50% 30%;
                background-size: cover;
                padding: 0;
            }
.bg-lamp    {   background-image: url("/images/the-sleep-co-lamp.jpg");
                background-position: 50% 0;
                background-size: cover; 
                padding: 0;
            }


.bg-pillow  {   background-image: url('/images/the-sleep-co-yellow.jpg');
                background-position: 50% 57%;
                background-size: cover;
                padding: 0;
            }

/* ------- General settings---------- */

body {
    font-family: Catamaran, sans-serif;
    font-size: 1rem;
    color: #192B37;
    border: none;
    text-align: center;
}




/*---------------- Classes ------------------*/

.height-100     { min-height: 100vh;    }
.height-80      { min-height: 80vh;     }
.height-70      { min-height: 70vh;     }
.height-50      { min-height: 50vh;     }


.big-font-size              {   font-size: 5rem;     }
.normal-font-size           {   font-size: 3rem;     }
.small-font-size            { 
                                font-size: 1.5rem; 
                                font-weight: 500;
                            }

.font-weight-light          {   font-weight: 200;   }
.font-weight-medium         {   font-weight: 400;   }
.font-weight-bold           {   font-weight: 600;   }

.quote                      {   
                                color: rgb(120,120,125);
                                font-size: 6rem;
                                display: inline-block;
                                line-height: 0px;
                            }

.subtitle                   {
                                font-size: 1.2rem;
                                font-weight: 200;
                                color: rgb(120,120,125);
}


.highlight-word            { color: #FFBE00;    }
.highlight-word-white          { color: white;  }

.align-left                 {text-align: left;}
.center                     {align-content: center;}

/* -------------- Header Styling ------------*/

header{
    background-image: url('/images/the-sleep-co-white-sheets.jpg');
    background-position: center;
    background-size: cover;
    line-height: 1;
    align-content: center;
}

header h2{
    margin-bottom: 0;
    line-height: 1;
}

header h1{
    font-weight: 400;
}



/*-------------- Features Gallery ----------*/


section div h3{
    font-size: 2rem;
    margin-bottom: 1%;
}


/*------------Feature Section with Cloud icons-------------*/

i {
    font-size: 2rem;
    margin-bottom: 15%;
}


/*-------------- Yellow Banner ---------------*/

section div h2 {
    font-size: 4rem;
    line-height: 1;
}


/*------------------ Quote Section --------------*/
