<header class="grid height-100 sm-tall-50">

    <div class="grid col-12-top nav padded">
        <div class="col-4_sm-12 logo padded-top">
            <a href="/index.html" > 
                <h2 class="text-navy">The Sleep Co</h2>
            </a>
        </div>
        <div class="col-8_sm-12 align-right padded-right padded-top sm-text-center sm-fontsize-0-5 sm-padded-t-0 sm-padded-b-0">
            <nav>
                <a href="/index.html" class="padded-small text-navy"> Home </a>
                <a href="/about.html" class="padded-small text-navy"> About </a>
                <a href="/products.html" class="padded-small text-navy"> Products </a>
                <a href="/contact.html"class="padded-small text-navy"> Contact </a>
            </nav>
        </div>
    </div>
    
</header>
