  <!--------------- This is the footer --------------------------->

<footer class="padded background-dark grid-bottom-spaceBetween align-left">
    <div class="col-5_sm-12">
        <h2 class="normal-font-size sm-fontsize-2"> let's <span class="highlight-word">connect</span> </h2>
        <p class="sm-fontsize-1"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae dolorem eum sapiente maiores accusamus culpa odio consequuntur obcaecati, quam repellendus, rem, deleniti repudiandae illum alias consequatur sequi fuga aliquam ipsam.</p>
    </div>

    <div class="col-4_sm-12 sm-text-right"> 
        <p class="sm-fontsize-1"> <span class="font-weight-bold">Call:</span> 055 124566</p>
        <p class="sm-fontsize-1"> <span class="font-weight-bold">Mail:</span> hello@sleep.co </p>
        <p class="sm-fontsize-1"> <span class="font-weight-bold">Store:</span> 55 Main St, Chicago </p>
        <p class="sm-fontsize-1"> <span class="font-weight-bold">Instagram:</span> @thesleepco </p>
    </div>
</footer>