---
layout: default
---
<!--------------- This is the header with a big background image ---------->
<header class="grid height-100 sm-tall-50">

    {% include header-nav.html %}
    
    <div class="grid col-12-top center-content">
        <h2 class="col-12-middle big-font-size sm-fontsize-2 sm-padded-t-0"> <span class="highlight-word">sleep</span> like a baby </h2>
        <h3 class="col-12-middle small-font-size sm-fontsize-1 sm-padded-b-0"> the ultimate mattress solution </h1>
    </div>
</header>

<!----- Gallery section ----------->
<section>
    <div class="gallery grid"> 
        <div class="col-6">
                 <div class="bg-image portrait bg-img-1"></div>
        </div>
        <div class="col-6">
                  <div class="bg-image portrait bg-img-2"></div>
        </div>
        <div class="col-4">
                  <div class="bg-image square bg-img-3 bg-pos-b"></div>
        </div>
        <div class="col-4">
                  <div class="bg-image square bg-img-4"></div>
        </div>
        <div class="col-4">
                  <div class="bg-image square bg-image-1 bg-pos-b"></div>
        </div>
        <div class="col-12">
                  <div class="bg-image landscape bg-img-5"></div>
        </div>
      </div>
</section>