    <div class="grid col-12-top nav padded">
        <div class="col-4_sm-11 logo padded-top">
            <a href="/index.html" > 
                <h2 class="text-navy padded-left">The Sleep Co</h2>
            </a>
        </div>
        <div class="col-8_sm-12 align-right padded-right padded-top hide-sm">
            <nav>
                <a href="/index.html" class="padded-small text-navy"> Home </a>
                <a href="/about.html" class="padded-small text-navy"> About </a>
                <a href="/products.html" class="padded-small text-navy"> Products </a>
                <a href="/gallery.html" class="padded-small text-navy"> Gallery </a>
                <a href="/shop.html" class="padded-small text-navy"> Shop </a>
                <a href="/contact.html"class="padded-small text-navy"> Contact </a>
            </nav>
        </div>

        <div class="col-1 show-sm">
            <div class="hamburger-button">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>

    <nav class="mobile-menu">
        <a href="/index.html" class="padded-small text-navy"> Home </a>
        <a href="/about.html" class="padded-small text-navy"> About </a>
        <a href="/products.html" class="padded-small text-navy"> Products </a>
        <a href="/gallery.html" class="padded-small text-navy"> Gallery </a>
        <a href="/shop.html" class="padded-small text-navy"> Shop </a>
        <a href="/contact.html"class="padded-small text-navy"> Contact </a>
    </nav>