<!--------------- Quote from Testimonial ------------------------->

<section class="grid-middle height-50 sm-tall-20 sm-padded align-center">      
    <div class="col-1">
        <span class="quote">“</span>
    </div>
    <div class="col-10 small-font-size sm-padded-t-1 sm-padded-b-0">
        <p class="center sm-fontsize-1"> I've never experienced sleep like this. Omg i really love this mattress and I want to buy one for every member of my family
            <br> <span class="subtitle">- A very happy customer </span> </p>
    </div>
    <div class="col-1">
        <span class="quote">”</span>
    </div>
</section>   