<!DOCTYPE html>
<html>

<head>


<!------- Gridlex for Flexbox Styling ---------------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

<!----------Google Font Catamaran--------------------->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;600;800&display=swap" rel="stylesheet"> 

<!------- Fontawesome Stylesheet for Icons ----------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!---------- Responsiveness-------------------------------->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Lightgallery for pop-ups  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lightgallery-bundle.min.css" integrity="sha512-7xAjdVc23n18sYEAZKa79271IRUS1XzylIyJ8feyXvjrbbr4oId92993EiGTAP63Ob6KplRnmbNmBOg6bpLjYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!------- General styles ----------------------------->
<link href="styles.css" rel="stylesheet">

</head>



<body>

    {{ content }}

      <!--------------- This is the footer --------------------------->

      <footer class="padded background-dark grid-bottom-spaceBetween align-left">
        <div class="col-5_sm-12">
            <h2 class="normal-font-size sm-fontsize-2"> let's <span class="highlight-word">connect</span> </h2>
            <p class="sm-fontsize-1"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae dolorem eum sapiente maiores accusamus culpa odio consequuntur obcaecati, quam repellendus, rem, deleniti repudiandae illum alias consequatur sequi fuga aliquam ipsam.</p>
        </div>

        <div class="col-4_sm-12 sm-text-right"> 
            <p class="sm-fontsize-1"> <span class="font-weight-bold">Call:</span> 055 124566</p>
            <p class="sm-fontsize-1"> <span class="font-weight-bold">Mail:</span> hello@sleep.co </p>
            <p class="sm-fontsize-1"> <span class="font-weight-bold">Store:</span> 55 Main St, Chicago </p>
            <p class="sm-fontsize-1"> <span class="font-weight-bold">Instagram:</span> @thesleepco </p>
        </div>
      </footer>

    <!---- Added jQuery----->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    

    <!-- Lightgallery for pop-ups  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

    <!----- Our custom Javascript File --->
    
    <script src="/script.js"></script>



</body>

</html>